/* Desktop styles */
:root {
  --sketchboard-max-width: 650px;
  --sketchboard-min-height: 85%;
  --sketchboard-min-width: 450px;
  --sketchboard-container-width: 100vw;
  --sketchboard-container-height: 100vh;
}


/* Mobile Landscape Styles */
@media (max-width: 600px) {
  :root {
    --sketchboard-min-height: 75%;
    --sketchboard-min-width: 400px;
    --sketchboard-max-width: 500px;
    --sketchboard-container-height: 100vh;
  }
}
/* Mobile Styles */
@media (max-width: 480px) {
  :root {
    --sketchboard-min-height: 75%;
    --sketchboard-min-width: 90%;
    --sketchboard-container-height: 75vh;
  }
    sketchboard__controls{
      flex-direction: column;
    }
}
* {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.sketchboard-container {
  align-items: center;
  align-content: center;
  flex-basis:var(--sketchboard-container-height);
  width: 100%;
}

.sketchboard {
  max-width: var(--sketchboard-max-width);
  min-width: var(--sketchboard-min-width);
  min-height: var(--sketchboard-min-height);
}
/* Controls formatting */

.sketchboard__controls h4 {
  margin: 1rem;
  /* padding: .25rem; */
  font-weight: bold;
  font-size: 18px;
}

.sketchboard__controls__color label {
  font-size: 16px;
  font-weight: bold;
}
.sketchboard__controls__color input[type="color"] {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.sketchboard__controls__eraser{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#sketchboard__canvas {
  flex-wrap: wrap;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  z-index: 1;
}

.grid-element{
  width:calc(100%/32);
  height:calc(100%/32);
  background-color: #fff;
  border: .25px solid lightgray;

}

.grid-element:hover{
  transform: scale(1.2);
}
